@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(iconsAnimateds.css);

/* Variables y valores generales */

:root {
  --color-text: #eaeaea;
  --color-black: black;
  --color-secondary: #1ce7ed;
  --color-third: #ff3f5c;
  --color-success: #09bc8a;
  --hover-li-sidebar: #3a3b3d;
  --information-card-background: #40e0d0;
  --box-style-background: #07182E;
  --border-radius-color: #495057;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: "Anta", sans-serif;
  line-height: 1.5;
  object-fit: cover;
  background-size: cover;
}
h1,
nav a,
h5 {
  color: var(--color-text);
}
li {
  font-size: 18px;
}
body {
  overflow-x: hidden;
}
header nav {
  box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.1);
}
.color-text {
  color: var(--color-text);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-third {
  color: var(--color-third);
}
.input {
  background-color: var(--color-text);
}
.ubuntuFont{
  font-family: "Ubuntu", sans-serif !important;
}
.border-bottom{
  border-bottom: 1px solid var(--border-radius-color);
}
thead tr{
  background-color: #2d2e36;
}
td, th{
  padding: 10px;
}
thead th:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
thead th:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.p-0{
  padding: 0 !important;
}

/* buttones */

.btn-info {
  padding: 5px 15px;
  border: 1px solid var(--color-secondary);
  position: relative;
  line-height: 0 !important;
}
.btn-info a{
  position: relative;
  z-index: 20;
}
.btn::before {
  content: " ";
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-secondary);
  opacity: 0.2;
}
.btn:hover::before {
  width: 100%;
  transition: width 0.4s;
}

/* success*/
.btn-success {
  padding: 5px 15px;
  border: 1px solid var(--color-success);
  position: relative;
}
/* submit */
input[type="submit"],
.btn-success {
  cursor: pointer;
  color: var(--color-black);
  background-color: var(--color-success);
  padding: 0 !important;
}
input[type="search"]::-webkit-search-cancel-button {
  background-image: url('../img/xmark-solid.svg');
  background-repeat: no-repeat;
  background-position: 0%;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}
input[type="submit"]:hover,
.btn-success:hover {
  background-color: transparent;
  border: 1px solid var(--color-success);
  color: var(--color-text);
  transition: all 0.6s;
}

/** header **/
.O {
  color: var(--color-secondary);
}
.S {
  color: var(--color-third);
}
h1 {
  color: var(--color-text);
}
h1 i,
h3 i,
h2 i,
span i {
  color: var(--color-third);
  margin-right: 0.4rem;
}
header h1 {
  color: var(--color-secondary);
}
header h1 > span {
  color: var(--color-third);
}
li i {
  color: var(--color-secondary);
  margin-right: 0.4rem;
}
li a::after {
  content: " ";
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 2px;
  width: 0;
  height: 2px;
  background-color: var(--color-secondary);
  border-radius: 2px;
}
li a:hover::after {
  width: 100%;
  transition: width 0.5s;
}
li.ml-10 a::after {
  display: none;
}
li.ml-10 a:hover i {
  color: var(--color-secondary);
}

/*** Inputs ***/
form div span {
  height: 30px;
}
form div {
  background-color: white;
  border: 1px solid #e4e4e5;
  height: 44px;
}
form div i {
  color: var(--color-third);
}
input,
select {
  width: 270px;
  height: 30px;
  outline: none;
  border: 0;
  padding: 5px 10px;
}
label {
  color: var(--color-text);
}

/***** Login article ****/

.box-shadow00405:hover {
  box-shadow: 0px 0px 40px 5px rgba(190, 190, 190, 0.3);
}

/**** Virtual machines ****/
.mvbox .box {
  background-color: var(--color-text);
  color: var(--color-text);
  opacity: 1;
}
.mvbox .box:hover {
  box-shadow: 0px 0px 20px 5px rgba(190, 190, 190, 0.2);
}
.mvbox {
  width: 95%;
  margin-left: 2.5%;
}
.mvbox img {
  height: 74%;
}
.mvinfo {
  height: 26%;
  background: linear-gradient(
    180deg,
    rgb(3 5 16 / 92%) 60%,
    rgb(3 7 30 / 95%) 70%
  );
}
.p-dif {
  color: var(--color-third);
}

/*** menuLateral --> sidebar ***/
.menuLateral {
  border-right: 1px solid hsla(0, 0%, 100%, 0.1);
}
.menuLateral li {
  color: var(--color-text);
  padding: 6px 50px 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.menuLateral li.active {
  background-color: var(--hover-li-sidebar);
}

/* pefil de usuario */
.divAward h4,
.divAward p {
  transform: rotateY(-180deg);
}
.divAward {
  perspective: 1000px;
}
.maquinas table,
.ranking table {
  width: 90%;
}
table , th, tr, td {
  text-align: center;
  color: var(--color-text);
  font-weight: 500;
}
.maquinas table tr img {
  width: 100px;
  height: 100px;
}
.divGroup {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}
.divGroup .divConfGroup {
  background-color: hsla(0, 0%, 100%, 0.1);
}

/* Las maquinas virtuales */
.mvComments form {
  background-color: var(--box-style-background);
}
button.send i{
  font-size: 25px;
}

/* gestion de alertas */
.error {
  background-color: var(--color-third);
  color: var(--color-black);
  transition: all 1s;
}
.success {
  background-color: var(--color-success);
  color: var(--color-text);
  transition: all 1s;
}
.remove {
  animation: remove 1s ease;
}
.information {
  background-color: var(--information-card-background);
}

/* Modals */
.modalShowMv .close {
  color: var(--color-third);
}
.modalShowMv h1 {
  color: var(--color-secondary);
}
.modalShowMv li,
.modalShowMv button,
.modalShowMv p {
  color: var(--color-text);
}
.modalShowMv {
  transform: translateX(-100%);
  animation: remove 0.3 ease;
}
.showModal {
  transform: translateX(0%);
  animation: show 0.3s ease;
}
.mvBoxClose {
  transform: translate(100%);
  animation: remove 0.3 ease;
}


/* Academy clases */

.academyBox {
  color: var(--color-text);
  background-color: #2d2e36;
  padding: 25px;
  border-radius: 12px;
  width: 80%;
  margin-top: 1rem;
  font-weight: normal;
  text-align: justify;
}
.academyBox strong, .academyResumen strong {
  font-weight: normal;
}
.academyResumen{
  color: var(--color-success);
  margin-top: 1rem;
  font-weight: normal;
  text-align: center;
}
.academy img{
  border-radius: 12px;
}
.academy > article{
  width: 80%;
}

.academySpanTab {
}

/** clases js **/
.rotate {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transition: transform 0.6 ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: black;
}
/* Animaciones */
@keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

/********* INDEX ANIMACIONES **********/
.boxStyle::before{
  content: '';
  position: absolute;
  width: 100px;
  background: linear-gradient(180deg, rgb(28, 230, 237), rgb(255, 63, 92));
  height: 130%;
  animation: rotBGimg 5s linear infinite;
  transition: all 0.5s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.boxStyle::after {
  content: '';
  position: absolute;
  background: var(--box-style-background);
  inset: 5px;
  border-radius: 15px;
}

.boxStyle {
  height: 480px;
}

.linuxTerminal > div{
  background-color: #292a2b;
  height: 800px;
}
.linuxTerminal > div > div{
  background-color: var(--box-style-background);
}
.linuxTerminal > div > div > span{
  background-color: #292a2b;
  width: 30px;
  height: 30px;
}

.scale {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typing 5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}